/* devfest.css */
/* @theme devfest */

@import 'default';

/* Default values */
:root {
    /* Devfest colors */
    --color: #0b0b0b; /* Default text color */
    --color-1: #ffffff;
    --color-2: #f1f3f4;
    --color-3: #e2e2e2;
    --color-4: #8ab4f8;
    --color-5: #4285f4;
    --color-6: #744bf9;
    --color-8: #5f6368;
    --color-9: #000000;
    --color-custom-1: #ea4335;
    --color-custom-2: #34a853;
    --color-custom-3: #f9ab00;
    --color-custom-4: #fbbc04;
    --color-custom-5: #ea8600;
    --color-custom-6: #fde288;
    --color-custom-7: #f28b82;
    --color-custom-10: #e25c30;
    --color-custom-11: #b84521;
    --color-custom-12: #ed6838;
    --color-custom-13: #39d99f;
    --color-custom-14: #fefffe;
    
    --color-bg-main: var(--color-custom-14);
    --color-bg-alternate: var(--color-custom-10);
    --color-bg-highlight: var(--color-custom-12);
    --color-bg-black: #000000;

    --color-notes: var(--color-8);
    --color-title: var(--color-custom-1);

    --color-primary: var(--color-9);
    --color-heading: var(--color-primary);
    --color-highlight: var(--color-primary);

    --font-default: Roboto, Arial, Helvetica, sans-serif;
    --font-title: "Red Hat Display", Arial, Helvetica, sans-serif;
}

section {
    font-family: var(--font-default);
    background-color: var(--color-bg-main);
    border-bottom: 33px solid var(--color-custom-13);
    color: var(--color);
    font-size: 28px;
    justify-content: normal;
}

h1, h2, h3 {
    color: var(--color);
    font-family: var(--font-title);
}

h1 {
    font-size: 32px;
    border-bottom: 1px solid var(--color-custom-10);
}

h2 {
    font-size: 26px;
}

h2 strong {
    color: var(--color-highlight);
}

h3 {
    font-size: 18px;
}

a, a.visited {
    color: var(--color-notes);
}

img[alt~="center"] {
    display: block;
    margin: 0 auto;
}

table {
    width: 100%;
}

footer {
    color: var(--color-notes);
    height: 10px;
    font-family: var(--font-default);
    font-size: 20px;
    padding-left: 50px;
}

footer a, a.visited {
    color: var(--color-notes);
}

section header {
    display: none;
}

section.first header,
section.lead header
{
    display:block;
    text-align: right;
    width: 95%;
    color: var(--color-bg-main);
    font-family: var(--font-title);
}

/* First Slide */
section.first {
    background-color: var(--color-custom-14);
    font-family: var(--font-title);
    justify-content: center;
    text-align: center;
    border-bottom: none;
}

section.first h1 {
    font-size: 48px;
    border-bottom: none;
}

section.first header
{
    color: var(--color-notes);
}

/* Lead Section */
section.lead {
    padding: 10%;
    font-family: var(--font-title);
    background-color: var(--color-bg-alternate);
    justify-content: center;
    border-bottom: none;
}

section.lead h1 {
    color: var(--color-bg-main);
    font-size: 48px;
    border-bottom: none;
    text-align: center;
    text-transform: uppercase;
}

section.lead h1 strong {
    color: var(--color-bg-main);
}

/* Last Slide */
section.last {
    background-color: var(--color-4);
    color: var(--color-title);
    justify-content: center;
    border-bottom: none;
    backdrop-filter: brightness(.5);
}

section.last h1 {
    font-size: 56px;
    color: var(--color-bg-main);
    text-align: center;
    border-bottom: none;
}

section.last h2 {
    color: var(--color-bg-main);
    font-size: 28px;
    text-align: center;
}