/* devoxxfr.css */
/* @theme devoxxfr */

@import 'default';

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: "Pirulen";
    src: url("../marp-themes/fonts/pirulen.otf");
}

/* Default values */
:root {
    /* Devoxx 2024 colors */
    --color-build-deploy: #0de07d;
    --color-java: #f3de2c;
    --color-architecture: #f88224;
    --color-data-ai: #df57bc;
    --color-server-size: #3083dc;
    --color-security: #4e4187;
    --color-people-culture: #8877d4;
    --color-mind-geek: #3083dc;
    --color-ux-ui: #c1b367;
    --color-dev-language: #2fb496;

    --color-bg-main: #ffffff;
    --color-bg-alternate: #151515;
    --color-bg-highlight: #0de07d;
    --color-bg-black: #000000;

    --color: #0b0b0b; /* Default text color */
    --color-notes: #767171;
    --color-title: #ffffff;

    --color-primary: var(--color-build-deploy);
    --color-heading: var(--color-primary);
    --color-highlight: var(--color-primary);

    --font-default: "Open Sans";
    --font-title: "Pirulen";
}

section::before {
    content: "";
    background-color: var(--color-primary);
    position: absolute;
    top: -10px;
    left: 0;
    width: 100px;
    height: 270%;
    transform: rotate(-12deg);
}

section {
    font-family: var(--font-default);
    background-color: var(--color-bg-main);
    border-bottom: 33px solid var(--color-primary);
    color: var(--color);
    font-size: 28px;
    justify-content: normal;
}

h1, h2, h3 {
    color: var(--color);
    font-family: var(--font-title);
}

h1 {
    font-size: 32px;
    border-bottom: 1px solid var(--color-primary);
}

h2 {
    font-size: 26px;
}

h2 strong {
    color: var(--color-highlight);
}

h3 {
    font-size: 18px;
}

a, a.visited {
    color: var(--color-notes);
}

img[alt~="center"] {
    display: block;
    margin: 0 auto;
}

table {
    width: 100%;
}

footer {
    color: var(--color-notes);
    height: 10px;
    font-family: var(--font-default);
    font-size: 20px;
    padding-left: 50px;
}

footer a, a.visited {
    color: var(--color-notes);
}

section header {
    display: none;
}

section.first header,
section.lead header
{
    display:block;
    text-align: right;
    width: 95%;
    font-family: var(--font-title);
    color: var(--color-title);
}
section.first header span,
section.lead header span {
    color: var(--color-primary);
}

/* First Slide */

section.first::before {
    content: "";
    background-color: var(--color-bg-alternate);
    left: 25%;
    width: 110%;
    height: 140%;
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 10px var(--color-bg-highlight);
    transform: rotate(80deg);
}

section.first {
    background-image: url("assets/DevoxxFR2024_0033.jpg");
    background-position: -300px top;
    background-size: 98%;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-left: 50%;
    font-family: var(--font-title);
    justify-content: center;
}

section.first h1 {
    color: var(--color-primary);
    border-bottom: none;
}

section.first h2 {
    color: var(--color-title);
}

section.first h3 {
    color: var(--color-title);
    font-family: var(--font-default);
    font-size: 32px;
    padding-left: 50%;
    font-weight:normal;
}

section.first h3 span {
    color: var(--color-primary);
}

section.first h4 {
    color: var(--color-primary);
    font-family: var(--font-default);
    font-size: 32px;
    padding-left: 50%;
    font-weight:normal;
}

/* Lead Section */

section.lead::before {
    content: "";
    background-color: var(--color-primary);
    position: absolute;
    top: -10px;
    width: 200px;
    height: 200%;
    transform: rotate(-12deg);
}

section.lead {
    padding-top: 10%;
    padding-left: 30%;
    font-family: var(--font-title);
    background-color: var(--color-bg-alternate);
    justify-content: center;
}

section.lead h1 {
    color: var(--color-primary);
    font-size: 36px;
    border-bottom: none;
}

section.lead h1 strong {
    color: var(--color-title);
}

section.lead h2 {
    color: var(--color);
    font-family: var(--font-default);
    font-size: 36px;
}

section.lead h3 {
    color: var(--color);
    font-family: var(--font-default);
    font-size: 32px;
    padding-left: 50%;
}


section.lead h4 {
    color: var(--color-primary);
    font-family: var(--font-default);
    font-size: 32px;
    padding-left: 50%;
}
/* for vertical text, but I don't like it
section.lead h6 {
    font-family: var(--font-title);
    font-size: 48px;;
    transform: rotate(-90deg);
    position: absolute;
    margin: 0;
    left: -40px;
    bottom: 120px;
    color: var(--color);
}
*/

/* Last Slide */
section.last {
    background-image: url("assets/DevoxxFR2024_0033.jpg");
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40%;
    padding-left: 40%;
    font-family: var(--font-default);
    color: var(--color-title);
    justify-content: center;
}

section.last::before {
    background-color: transparent;
} 

section.last h1 {
    color: var(--color-primary);
    font-size: 56px;
    text-align: center;
    backdrop-filter: brightness(.5);
    border-bottom: none;
}

section.last h2 {
    color: var(--color-text);
    font-size: 28px;
    text-align: center;
    backdrop-filter: brightness(.5);
}
